// Override default variables before the import
$body-bg: #000;
$body-color: #fff;

$primary: #36B37E;
$light: rgba(255, 255, 255, 0.1);
$btn-border-radius: 8px;
$btn-padding-y: 14px;
$btn-padding-x: 24px;

$input-padding-y: 11px;
$input-padding-x: 15px;
$input-bg: rgba(255, 255, 255, 0.2);
$input-border-color: $input-bg;
$input-focus-bg: none;
$input-focus-border-color: none;
$input-border-radius: 8px;


// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.container-fluid {
  margin-right: 120px;
  margin-left: 120px;
  @media(max-width: 991px) {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.main_btn {
  backdrop-filter: blur(16px);
  font-family: 'Pragmatica Extended', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.02em;
}

.form-floating > label {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}

.form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-select ~ label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.form-floating > .form-control {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;

  &:focus {
    box-shadow: none;
  }
}

body {
  margin: 0;
  padding: 0;

  &.fixed {
    max-height: 100vh;
    overflow: hidden;
  }
}

body > * {
  font-family: Pragmatica, sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  box-sizing: border-box;
}

//noise bg style
#section {
  position: fixed;
  top: -50px;
  left: -50px;
  width: calc(100% + 50px);
  height: calc(100% + 50px);
  background: repeating-linear-gradient(#111, #fff 50%, #fff 80%, #fff);
  background-size: 2px 4px;
  filter: url(#noise);
  z-index: -2;
  opacity: .08;
}

#svg {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
}

#root {
  overflow: hidden;
}

//стили для анимации текста
.animText {
  font-family: Pragmatica Extended, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 60px;
  overflow: hidden;
  background: linear-gradient(to right,#fff,rgba(255,255,255, 1) 50%,rgba(255,255,255, .2) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 2.5s ease;

  &.active {
    background-position: 0 100%;
  }
}

@media (max-width: 575px) {
  .swiper-container .swiper-button-prev,
  .swiper-container .swiper-button-next {
    display: none;
  }
}
