.projects-container {
  overflow: hidden!important;
}

.projects-container .projects-wrapper {
  height: 450px;
  transform: translate3d(300px,0,0);
  display: flex;
  align-items: center;
}

@media(max-height: 735px) {
  .projects-container .projects-wrapper {
    height: 350px;
  }
}


.projects-container .projects-wrapper .project-slide {
  width: 100%!important;
  max-width: 580px;
  height: 368px;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  cursor: pointer;
  margin-left: 60px;
}

.projects-container .projects-wrapper .project-slide .info {
  position: absolute;
  bottom: 40px;
  left: -25px;
}

@media(max-height: 735px) {
  .projects-container  .projects-wrapper .project-slide .info {
    bottom: 70px;
  }
}

.projects-container .projects-wrapper .project-slide .info .name {
  font-family: Pragmatica Extended, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: .3s;
  margin-bottom: 6px;
}

@media(max-height: 735px) {
  .projects-container .projects-wrapper .project-slide .info .name {
    font-size: 30px;
    margin-bottom: 2px;
  }
}


.projects-container .projects-wrapper .project-slide .info .desc {
  font-family: Pragmatica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'ss03' on, 'ss04' on;
  color: #FFFFFF;
}

.projects-container .projects-wrapper .project-slide:nth-child(2n){
  transform: translateY(80px);
}

@media(max-height: 735px) {
  .projects-container .projects-wrapper .project-slide:nth-child(2n){
    transform: translateY(60px);
  }
}

.projects-container .projects-wrapper .project-slide:hover  .info .name {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  transition: .3s;
}

