.projects-container {
  overflow: hidden!important;
}

.projects-container .projects-wrapper {
  overflow-x: auto;
  height: 550px;
  /*transform: translate3d(300px,0,0);*/
  display: flex;
  align-items: center;
}

@media(max-height: 835px) {
  .projects-container .projects-wrapper {
    height: 430px;
  }
}

.projects-container .projects-wrapper::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

.projects-container .projects-wrapper .project-slide {
  width: 100%!important;
  height: 302px;
  max-width: 540px;
  min-width: 540px;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  cursor: pointer;
  margin-left: 118px;
}

.projects-container .projects-wrapper .project-slide a,
.projects-container .projects-wrapper .project-slide a img {
  width: 100%;
  height: 100%;
}

.projects-container .projects-wrapper .project-slide a:visited,
.projects-container .projects-wrapper .project-slide a:hover,
.projects-container .projects-wrapper .project-slide a {
  text-decoration: none;
}

.projects-container .projects-wrapper .project-slide:first-child {
  margin-left: 300px;
}

.projects-container .projects-wrapper .project-slide:last-child {
  margin-right: 300px;
}

.projects-container .projects-wrapper .project-slide .info {
  position: absolute;
  bottom: 40px;
  left: -25px;
}

@media(max-height: 835px) {
  .projects-container  .projects-wrapper .project-slide .info {
    bottom: 70px;
  }
}

.projects-container .projects-wrapper .project-slide .info .name {
  font-family: Pragmatica Extended, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-text-stroke: 1px #fff;
  transition: all .5s;
  margin-bottom: 6px;
  max-width: 380px;
}

@media(max-height: 835px) {
  .projects-container .projects-wrapper .project-slide .info .name {
    margin-bottom: 2px;
  }
}


.projects-container .projects-wrapper .project-slide .info .desc {
  font-family: Pragmatica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'ss03' on, 'ss04' on;
  color: #FFFFFF;
}

.projects-container .projects-wrapper .project-slide:nth-child(2n){
  transform: translateY(80px);
}

@media(max-height: 835px) {
  .projects-container .projects-wrapper .project-slide:nth-child(2n){
    transform: translateY(60px);
  }
}

.projects-container .projects-wrapper .project-slide:hover  .info .name {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  transition: all .5s;
}

@media(max-width: 768px) {

  .projects-container .projects-wrapper .project-slide:nth-child(2n){
    transform: translateY(0);
  }

  .projects-container {

  }

  .projects-container .projects-wrapper {
    flex-direction: column;
    overflow: auto;
    height: auto;
    width: 100%;
    margin-top: 40px;
  }

  .projects-container .projects-wrapper .project-slide {
    margin: 0 0 40px;
    width: 100%;
    max-width: none;
    min-width: auto;
    height: auto;
  }

  .projects-container .projects-wrapper .project-slide:first-child,
  .projects-container .projects-wrapper .project-slide:last-child {
    margin-left: 0;
    margin-right: 0;
  }

  .projects-container .projects-wrapper .project-slide a {

  }

  .projects-container .projects-wrapper .project-slide a img {
    height: 180px;
    object-fit: cover;
  }

  .projects-container .projects-wrapper .project-slide .info {
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 20px;
  }

  .projects-container .projects-wrapper .project-slide .info .name {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .projects-container .projects-wrapper .project-slide .info .desc {
    font-size: 14px;
    line-height: 22px;
  }
}

@media(max-height: 735px) {
  .projects-container .projects-wrapper .project-slide:nth-child(2n) {
    transform: translateY(15px);
  }
}